$style1-color: #000;
$style2-color: #000;
$style3-color: #000;
$style4-color: #000;
$style5-color: #000;
$style6-color: #000;

$header-color: #fff;
$text-color: #ababab;
$formattedtext-color: #fff;
$linktext-color: #fff;
$footertext-color: #fff;
$navtext-color: #fff;

$buttonbackground-color: #fff;
$navbackground-color: #000;
$footerbackground-color: red;
$background-color: #000;

$header-font: 'Montserrat', sans-serif;
$text-font: 'Merriweather Sans', sans-serif;

$fontweight-bold: 700;
$fontweight-normal: 400;
