$style1-color: #000;
$style2-color: #05668D;
$style3-color: #028090;
$style4-color: #00A896;
$style5-color: #02C39A;
$style6-color: #F0F3BD;

$header-color: #fff;
$text-color: #fff;
$navtext-color: #fff;

$background-color: #000;

$xxs: 5px;
$xs: 15px;
$sm: 25px;
$md: 35px;
$lg: 50px;
$xl: 80px;
$xxl: 90px;

