$style1-color: #000;
$style2-color: #000;
$style3-color: #000;
$style4-color: #000;
$style5-color: #000;
$style6-color: #000;

$header-color: #fff;
$text-color: #ababab;
$formattedtext-color: #fff;
$linktext-color: #fff;
$footertext-color: #fff;
$navtext-color: #fff;

$buttonbackground-color: #fff;
$navbackground-color: #000;
$footerbackground-color: red;
$background-color: #000;

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Open+Sans:400,600,700');
$header-font: 'Josefin Sans', sans-serif;
$text-font: 'Open Sans', sans-serif;

$fontweight-bold: 700;
$fontweight-semibbold: 600;
$fontweight-normal: 400;
