.button {
    display: inline-block;
    font-family: $text-font, sans-serif;
    color: $formattedtext-color;
    background-color: $background-color;
    border: 4px solid $buttonbackground-color;
    padding: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    text-decoration: none;
}

.button:hover {
    color: $background-color;
    background-color: $buttonbackground-color;
    border: 4px solid $buttonbackground-color;
}

form fieldset {
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

form label {
    @extend p;
    display:block;
    clear:both;
}

form textarea {
    @extend .formattedtext;
    line-height: 1.5em;
    padding: 5px;
    background-color: $background-color;
    border: 4px solid $buttonbackground-color;
}

form input {
    @extend textarea;
}