
body {
    background-color: $background-color;
}

section {
    height: 100vh;
}

section.jarallax {
    height: 50vh;
}

section article {
    margin: 0 auto;
    max-width: 800px;
}

// extra small devices
@media (max-width: 543px) {
    section article  {
        margin-left: $sm;
        margin-right: $sm;
    }
}
// small devices
@media (min-width: 544px) and (max-width: 767px) {
    section article  {
        margin-left: $md;
        margin-right: $md;
    }
}
// medium devices
@media (min-width: 768px) and (max-width: 991px) {

}
// large devices
@media (min-width: 992px) and (max-width: 1199px) {

}
// extra large devices
@media (min-width: 1200px) {

}