section.style1 {
    background-color: $style1-color;
}
section.style2 {
    background-color: $style2-color;
}
section.style3 {
    background-color: $style3-color;
}
section.style4 {
    background-color: $style4-color;
}
section.style5 {
    background-color: $style5-color;
}
section.style6 {
    background-color: $style6-color;
}

section header {
    padding-top: $xxl;
}

.jarallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.jarallax.image1 {
    background-image: url(./assets/image1.jpg)
}
.jarallax.image2 {
    background-image: url(./assets/image2.jpg)
}
.jarallax.image3 {
    background-image: url(./assets/image3.jpg)
}
.jarallax.image4 {
    background-image: url(./assets/image4.png)
}
.jarallax.image5 {
    background-image: url(./assets/image5.jpg)
}
