section.style1 {
    background-color: $style1-color;
}
section.style2 {
    background-color: $style2-color;
}
section.style3 {
    background-color: $style3-color;
}
section.style4 {
    background-color: $style4-color;
}
section.style5 {
    background-color: $style5-color;
}
section.style6 {
    background-color: $style6-color;
}

section header {
    padding-top: $md;
}

