body > header {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 9999; 
    background-color: $navbackground-color;
}

nav {     
    max-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

nav li { 
    display: inline-block; 
    padding: 1rem; 
    float: left;
}

nav li:nth-child( 3n + 1) { 
    background: $style1-color; 
}
nav li:nth-child( 3n + 2) { 
    background: $style2-color; 
}
nav li:nth-child( 3n + 3) { 
    background: $style3-color; 
}
nav li:nth-child( 3n + 4) {
    background: $style4-color; 
}
nav li:nth-child( 3n + 5) {
    background: $style5-color; 
}
nav li:nth-child( 3n + 6) {
    background: $style6-color; 
}