
.margin-box-xxs {
    margin: $xxs;
}

.margin-box-sm {
    margin: $sm;
}

.margin-box-md {
    margin: $md;
}

.margin-top-xs {
    margin-top: $xs;
}

.margin-top-sm {
    margin-top: $sm;
}

.margin-top-md {
    margin-top: $md;
}

.margin-top-lg {
    margin-top: $lg;
}

.margin-top-xl {
    margin-top: $xl;
}

.margin-bottom-xxs {
    margin-bottom: $xxs;
}

.margin-bottom-xs {
    margin-bottom: $xs;
}

.margin-bottom-sm {
    margin-bottom: $sm;
}

.margin-bottom-md {
    margin-bottom: $md;
}

.margin-bottom-lg {
    margin-bottom: $lg;
}

.margin-bottom-xl {
    margin-bottom: $xl;
}

.margin-vertical-xxs {
    margin-top: $xxs;
    margin-bottom: $xxs;
}

.margin-vertical-xs {
    margin-top: $xs;
    margin-bottom: $xs;
}

.margin-vertical-sm {
    margin-top: $sm;
    margin-bottom: $sm;
}

.margin-vertical-md {
    margin-top: $md;
    margin-bottom: $md;
}

.margin-vertical-lg {
    margin-top: $lg;
    margin-bottom: $lg;
}

.margin-horizontal-sm {
    margin-left: $sm;
    margin-right: $sm;
}

.margin-left-sm {
    margin-left: $sm;
}

.margin-left-xl {
    margin-left: $xl;
}

.margin-right-sm {
    margin-right: $sm;
}

.padding-vertical-lg{
    padding-top: $lg;
    padding-bottom: $lg;
}

.padding-vertical-xl{
    padding-top: $xl;
    padding-bottom: $xl;
}

.padding-box-xs {
    padding: $xs;
}

.padding-box-sm {
    padding: $sm;
}

.padding-top-md {
    padding-top: $md;
}

.padding-top-lg {
    padding-top: $lg;
}

.padding-bottom-lg {
    padding-bottom: $lg;
}

.padding-top-xl {
    padding-top: $xl;
}

.padding-bottom-xl {
    padding-bottom: $xl;
}

.padding-top-xxl {
    padding-top: $xxl;
}
