
h1 {
    font-size: $lg;
    font-family: 'Montserrat', sans-serif;
    color: $header-color;
}

h2 {
    font-size: $md;
    font-family: 'Montserrat', sans-serif;
    color: $header-color;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    color: $text-color;
    font-size: $sm;
}

nav a {
    font-family: 'Merriweather Sans', sans-serif;
    color: $text-color;
    font-size: $xs;
}

nav a.active, a:hover {
    border-bottom: 2px solid $text-color;
}

article li {
    font-family: 'Merriweather Sans', sans-serif;
    color: $text-color;
    font-size: $sm;
}

footer p {
    font-family: 'Merriweather Sans', sans-serif;
    color: $footertext-color;
    font-size: $xs;
}