
h1 {
    font-family: $header-font;
    font-size: 50px;    
    font-weight: $fontweight-semibbold;
    letter-spacing: 1px;
    
    color: $header-color;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

h2 {
    @extend h1;
    font-size: 35px;
}

p {
    font-family: $text-font;
    font-size: 20px;
    font-weight: $fontweight-normal;
    line-height: 1.5em;
    
    color: $text-color;
    margin-bottom: 0.5em;
}

span {
    @extend p;

    margin-bottom: 0;
}

a {
    font-family: $text-font;

    color: $linktext-color;
    text-decoration: none;
}

.formattedtext {
    font-family: $text-font;
    font-weight: $fontweight-normal;
    
    color: $formattedtext-color;
}

small {
    @extend .formattedtext;
    font-size: 17px;
}

strong {
    @extend .formattedtext;
    font-weight: $fontweight-bold;
}

mark {
    @extend .formattedtext;

    background-color: $background-color;
}

nav a {
    @extend a;
    font-size: 17px;    
    font-family: $header-font;
    font-weight: $fontweight-semibbold;
    letter-spacing: 1px;

    color: $navtext-color;    
    text-transform: uppercase;
}

article ul {
    list-style: disc; 
    padding-left: 25px;    
    margin-bottom: 0.5em;
}

article li {
    @extend span;
}

.button {
    font-family: $header-font;    
    font-size: 20px;
    font-weight: $fontweight-semibbold;
    letter-spacing: 1px;
    
    text-transform: uppercase;
}

a.active, a:hover {
    border-bottom: 2px solid $linktext-color;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

// extra small and small devices
@media (max-width: 767px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 22px;
    }
    p, .formattedtext {
        font-size: 15px;
    }
    small {
        font-size: 13px;
    }
    .button {
        font-size: 18px;
    }
}