
h1 {
    font-size: $lg;
    font-family: $header-font;
    color: $header-color;
}

h2 {
    font-size: $md;
    font-family: $header-font;
    color: $header-color;
}

p {
    font-family: $text-font;
    color: $text-color;
    font-size: $sm;
}

p a {
    color: $linktext-color;
    text-decoration: none;
}

small {
    font-family: $text-font;
    color: $text-color;
    font-size: $xs;
}

small a {
    color: $linktext-color;
    text-decoration: none;
}

nav a {
    font-family: $text-font;
    color: $text-color;
    font-size: $xs;
}

article li {
    font-family: $text-font;
    color: $text-color;
    font-size: $sm;
}

a.active, a:hover {
    border-bottom: 2px solid $linktext-color;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

// extra small devices
@media (max-width: 543px) {
    h1 {
        font-size: $md;
    }
    h2 {
        font-size: $sm;
    }
    p, article li, footer p {
        font-size: $xs;
    }
}
// small devices
@media (min-width: 544px) and (max-width: 767px) {
    h1 {
        font-size: $md;
    }
    h2 {
        font-size: $sm;
    }
    p, article li, footer p {
        font-size: $xs;
    }
}
// medium devices
@media (min-width: 768px) and (max-width: 991px) {

}
// large devices
@media (min-width: 992px) and (max-width: 1199px) {

}
// extra large devices
@media (min-width: 1200px) {

}